table{
    width: 100%;
    border-collapse: collapse;
    border: solid black 2px;
    
}
th{
    background-color:tomato;
    font-size: 20px;
    color: #fff;
}
th,td{
    text-align: left;
    padding: 5px;
    min-width: 20%;
}
td{
    background-color:black;
    border-bottom: 1px solid #dddddd;
    color: white;
}
button{
    background-color:red;
    color: white;
    outline: none;
}
input{
    height: 100%;
    width: 80%;
    
}
select{
    width: 80%;
}