<div *ngIf="currrentUser.isAdmin && details" style="overflow-x: auto;">


    <table>
        <tr>

            <th style="width: 12%;">Picture</th>
            <th style="width: 12%;">Customer</th>
            <th style="width: 12%;">Category</th>
            <th style="width: 12%;">Address</th>
            <th style="width: 12%;">Price</th>
            <th style="width: 12%;">Status</th>
            <Th style="width: 12%">Action</Th>


        </tr>
        <tr *ngFor="let item of details | paginate: { itemsPerPage: 10, currentPage: p }">
            <td><img [src]="item.imageUrl" style="height: 30px; width:30px"></td>
            <td>{{item.userName}}</td>
            <td>{{item.category}}</td>
            <td>{{item.address}}</td>
            <td><input [(ngModel)]="item.price" type="text" style="outline:none;" #task></td>
            <td> <select name="cars" id="cars" [(ngModel)]="item.status">
                    <option *ngFor="let st of status" [value]="st">{{st}}</option>

                </select></td>
            <td><button (click)="updateJunk(item)">Update</button></td>
        </tr>

    </table>
</div>







<div style="overflow-x: auto;" *ngIf="!currrentUser.isAdmin && details">
    <table>
        <tr>

            <th style="width: 20%;">Picture</th>
            <th style="width: 20%;">Category</th>
            <th style="width: 20%;">Items</th>
            <th style="width: 20%;">Price</th>
            <th style="width: 20%;">Status</th>


        </tr>
        <tr *ngFor="let item of details ">
            <td><img [src]="item.imageUrl" style="height: 30px; width:30px"></td>
            <td>{{item.category}}</td>
            <td>{{item.numberOfItems}}</td>
            <td>{{item.price}}</td>
            <td>{{item.status}}</td>


        </tr>

    </table>
</div>
<div class="control">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>