<div *ngIf=" details" style="overflow-x: auto;  margin-top: 70px;
">
    <div class="row">
        <select class="col-md-3" [(ngModel)]="searchProperty">
            <option value="" selected disabled>Search By</option>

            <option value="u.userName">Customer Name</option>
            <option value="ord.status">Order Status</option>
            <option value="c.name">Category</option>
            <option value="u.address">Address </option>
            <option value="DATE(ord.createdAt)">Order Date</option>

        </select>
        <input *ngIf="searchProperty != 'DATE(ord.createdAt)'" type="text" [(ngModel)]="searchValue" class="col-md-3-offset col-md-3">
        <input *ngIf="searchProperty == 'DATE(ord.createdAt)'" type="date" [(ngModel)]="searchValue" class="col-md-3-offset col-md-3">
        <button class="col-md-6-offset col-md-1" (click)="updateSearch()">Search</button>
        <button class="col-md-7-offset col-md-1" (click)="clearSearch()">Clear</button>

    </div>
    <table>
        <tr>

            <th style="width: 12%;">Order #</th>
            <th style="width: 20%;">Customer</th>
            <th style="width: 10%;">Total</th>
            <th style="width: 10%;">Date</th>
            <th style="width: 10%;">Status</th>
            <Th style="width: 10%">Action</Th>


        </tr>
        <tr *ngFor="let item of details | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{item.id}}</td>
            <td><span><b>{{item.userName}}</b></span><br>
                <span>{{item.contactNumber}}</span><br>
                <span>{{item.email}}</span><br>
                <span>{{item.address}}</span>
            </td>
            <td>{{item.total}}</td>
            <td>{{toLocalDate(item.createdAt)}}</td>
            <td> <select name="cars" id="cars" [(ngModel)]="item.status" (change)="updateJunk(item)">
                    <option *ngFor="let st of status" [value]="st">{{st}}</option>

                </select></td>
            <td><button (click)="viewDetails(item.id)">View Details</button></td>
        </tr>

    </table>
</div>







<div style="overflow-x: auto;" *ngIf="currrentUser.isAdmin && details">
    <table>
        <tr>

            <th style="width: 20%;">Picture</th>
            <th style="width: 20%;">Category</th>
            <th style="width: 20%;">Items</th>
            <th style="width: 20%;">Price</th>
            <th style="width: 20%;">Status</th>


        </tr>
        <tr *ngFor="let item of details ">
            <td><img [src]="item.imageUrl" style="height: 30px; width:30px"></td>
            <td>{{item.category}}</td>
            <td>{{item.numberOfItems}}</td>
            <td>{{item.price}}</td>
            <td>{{item.status}}</td>


        </tr>

    </table>
</div>
<div class="control">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>