
$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;


.view-detail{
   display: none;
}
.header {
   background-color: darken($baseColor, 5%);
   color: white;
   font-size: 1.5em;
   padding: 1rem;
   text-align: center;
   text-transform: uppercase;
}

img {
   border-radius: 50%;
   height: $imageSmall;
   width: $imageSmall;
}

.table-users {
   border: 1px solid darken($baseColor, 5%);
   border-radius: $borderRadius;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;
   width: 80%;
   margin-top: 15px;
}

table {
   width: 100%;
   
   td, th { 
      color: darken($baseColor, 10%);
      padding: $padding; 
   }
   
   td {
      vertical-align: middle;

      &:last-child {
         font-size: 0.95em;
         line-height: 1.4;
      }
   }
   
   th { 
      background-color: lighten($baseColor, 50%);
      font-weight: 300;
      width: 20%;
   }
   
   tr {     
      &:nth-child(2n) { background-color: white; }
      &:nth-child(2n+1) { background-color: lighten($baseColor, 55%) }
   }
}
input{
   height: 40px;
   margin-left: 2%;
}
.btn-search{
   width: 10%;
   outline: none;
   background-color: dodgerblue;
   color: white;
   height: 44px;
   margin-left:2% ;
   margin-bottom: 5px;
}
.batan{
   width: 10%;
   outline: none;
   background-color: dodgerblue;
   color: white;
   height: 44px;
   margin-left:2% ;
   margin-bottom: 5px;
}
.view{
   background-color: dodgerblue;
   color: white;
   border-radius: 15px;
   height: 35px;
  outline: none;
}
.drop{
   margin-top: 80px;
   margin-left: 11%;
   width: 10%;
   height: 38px;
  
}
@media screen and (max-width: 700px) {   
   table, tr, td { display: block; }
   .view-detail{
      display: inline;
      margin: auto;
   }
   input{
      height: 40px;
      width:32%;
   }
   .btn-search{
      width: 28%;
      outline: none;
      background-color: dodgerblue;
      color: white;
      height: 44px;
      margin-left: 11%;
      margin-bottom: 5px;
      margin-top: 10px;
      
   }
   .view{
      background-color: dodgerblue;
      color: white;
      border-radius: 15px;
      height: 35px;
     outline: none;
   }
   .drop{
      margin-top: 80px;
      margin-left: 12%;
      width: 38%;
      height: 40px;
      margin-right: 3%;
      
   }
   .batan{
      width: 28%;
      outline: none;
      background-color: dodgerblue;
      color: white;
      height: 44px; 
      margin-bottom: 5px;
      margin-top: 10px;
      margin-left:3px;
   }
   
   td {


         clear: both;
         margin-left: 10px;
         padding: 4px 20px 4px 90px;
         position: relative;
         text-align: right;

         &:before {
            color: lighten($baseColor, 30%);
            content: '';
            display: block;
            left: 0;
            position:absolute;

         }


      &:nth-child(1):before { content: 'Order No:'; }
     
     
      &:nth-child(2):before { content: 'Date:'; }
      &:nth-child(3):before { content: 'Total:'; }
      &:nth-child(4):before { content: 'Status:'; }
      &:nth-child(5):before { content: ''; }
      &:nth-child(5){ text-align: center; }

    

   }
   
   tr {
      padding: $padding 0;
      position: relative;
      &:first-child { display: none; }
   }
  
}





// table {
//   width: 100%;
//   border-collapse: collapse;
//   border: solid black 2px;
//   font-size: 2px;
// }

// th,td{
//   text-align: left;
//   padding: 1%;
//   width: auto;
//   border-collapse: collapse;
  
// }
// th{
//   background-color:tomato;
//   font-size:10px ;

//   color: #fff;
// }
// td{
// font-size: 4vh;
//   border-bottom: 1px solid #dddddd;
// }
// button{
//   background-color:red;
//   color: white;
//   outline: none;
// }
// input{
//   height: 100%;
//   width: 80%;
  
// }
// select{
//   width: 80%;
// }


 .control{
     text-align: center;
     margin-top: 10px;
     color: blue;
 }