
<div *ngIf=" details" style="overflow-x: auto;">

<p class="p">Demo by George Martsoukos. <a href="http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions" target="_blank">See article</a>.</p>
        <!-- <tr>
            <th style="width: 12.5%;">Order No</th>
            <th style="width: 12.5%;">Customer</th>
            <th style="width: 12.5%;">Phone No</th>

            <th style="width: 12.5%;">Address</th>
            <th style="width: 12.5%;">Items</th>
            <Th style="width: 12.5%">Total</Th>


            <th style="width: 12%;">Order #</th>
            <th style="width: 20%;">Customer</th>
            <th style="width: 10%;">Total</th>
            <th style="width: 10%;">Date</th>
            <th style="width: 10%;">Status</th>
            <Th style="width: 10%">Action</Th>


        </tr> -->
        <tr *ngFor="let item of details | paginate: { itemsPerPage: 10, currentPage: p }">

            <td>{{item.id}}</td>
            <td><span><b>{{item.userName}}</b></span><br>
                <span>{{item.contactNumber}}</span><br>
                <span>{{item.email}}</span><br>
                <span>{{item.address}}</span>
            </td>
            <td>{{item.total}}</td>
            <td>{{toLocalDate(item.createdAt)}}</td>
            <td> <select name="cars" id="cars" [(ngModel)]="item.status" (change)="updateJunk(item)">
                    <option *ngFor="let st of status" [value]="st">{{st}}</option>

                </select></td>
            <td><button (click)="viewDetails(item.id)">View Details</button></td>
        </tr>

    </table>
</div>







<div style="overflow-x: auto;" *ngIf="currrentUser.isAdmin && details">
    <table>
        <tr>

            <th style="width: 20%;">Picture</th>
            <th style="width: 20%;">Category</th>
            <th style="width: 20%;">Items</th>
            <th style="width: 20%;">Price</th>
            <th style="width: 20%;">Status</th>


        </tr>
        <tr *ngFor="let item of details ">
            <td><img [src]="item.imageUrl" style="height: 30px; width:30px"></td>
            <td>{{item.category}}</td>
            <td>{{item.numberOfItems}}</td>
            <td>{{item.price}}</td>
            <td>{{item.status}}</td>


        </tr>

    </table>
</div>
<div class="control">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>