<div class="body">
    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form  [formGroup]="userForm" method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" placeholder="Your Name" class="form-input" name="name" id="name"  formControlName="yourName" />
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email"  class="form-input" name="email" id="email"
                            formControlName="email"/>
                            <!-- <div *ngIf="submitted && userForm.controls.email.errors" class="invalid-feedback">this not find</div> -->
                            <!-- <div *ngIf="submitted && userForm.controls.email.errors">Email must be a valid email address</div> -->
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Contact number"  class="form-input" name="contact" id="Contact"
                            formControlName ="contactNumber" />
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Address"  class="form-input" name="Address" id="Address"
                            formControlName="address" />
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Password"  class="form-input" name="password" id="password"
                            formControlName="password" />
                            <span toggle="#password" class="fa fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Confirm Password"  class="form-input" name="re_password" id="re_password"
                            formControlName="confirmPassword" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <!-- <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label> -->
                        </div>
                        <div class="form-group">
                            <input  (click)='onSubmit()' type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="#" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</div>

