.container{
    width:50%;
    height:70%;
    background-image:url("../../../assets/picture.jpg");
    color: white;

}
.box{
    height:30%;
    outline: none;
}

.sign{
    width: 100%;
    color: red; 
    text-align: center;
}

.btn{
    width: 60%;
    height: 5%;
    border-radius: 7%;
    background-color: red;
    color: white;
    margin:auto;
    outline: none;
}
.box1{
    width: 100%;
    margin:auto;
}
.box2{
    width: 100%;
    margin:auto; 
}
.box3{
    width: 100%;
    margin:auto;  
}
.box4{
    width: 100%;
    margin:auto; 
}
.box5{
     width:50%;
    height:70%;  
 }
 .box51{
    width: 100%;
    margin:auto;  
}
.box6{
    width: 100%;
    margin:auto;  
}