<div style="text-align:center" >
    <div>
        <webcam  [height]="height1" [width]="width1" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"></webcam>
        <br />
    </div>
    <h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
</ul>
</div>