<div style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form [formGroup]="usersData" class="login100-form validate-form">
					<span class="login100-form-title p-b-43"
						style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: blue;">
						Login
					</span>
					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input formControlName="email" class="input100" placeholder="Email" type="text" name="email">
						<div style="color: red;" *ngIf="submitted && usersData.controls.email.errors"
							class="invalid-feedback">this not find email</div>
						<div style="color: red;" *ngIf="submitted && usersData.controls.email.errors">Email must be a
							valid email address</div>

					</div>




					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input formControlName="password" placeholder="Password" class="input100" type="password"
							name="pass">

					</div>
					<div>
						<input type="text" id="authcode" class="form-control" *ngIf="this.tfaFlag" name="authcode" autocomplete="off"
						formControlName="authcode" placeholder=" Enter the Code"
						title="Please enter the code" required>
					</div>
					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<!-- <label class="label-checkbox100" for="ckb1"> -->
							<!-- Remember me  -->
							<!-- </label> -->
						</div>

						<div>
							<a href="#" class="txt1">
								<!-- Forgot Password? -->
							</a>
						</div>
					</div>


					<div class="container-login100-form-btn">
						<button (click)="submit('data')" class="login100-form-btn" style="background-color:red">
							Login
						</button>
					</div>

					<!-- <div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div> -->
				</form>

				<div class="login100-more" style="background-image: url('../../../assets/trash.jpg');">
				</div>
			</div>
		</div>
	</div>





	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</div>


<!-- 



-- <div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"
            style="margin-left:130PX ; color: red;">LOGIN</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
        <div class="login-form">
            <div class="sign-in-html">
                <form [formGroup]="usersData">
                    <div class="group">
                        <label for="user" class="label">email</label>
                        <input id="user" type="text" class="input" formControlName="email">
                        <div *ngIf="submitted && usersData.controls.email.errors" class="invalid-feedback">this not find</div>
                        <div *ngIf="submitted && usersData.controls.email.errors">Email must be a valid email address</div>

                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" formControlName="password">
                        
                    </div>
                    <div class="group">
                        <input type="submit" class="button" (click)="submit('data')" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                </form>
            </div>
            <div class="sign-up-htm">
                <div class="group">
                    <label for="user" class="label">email</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Repeat Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Email Address</label>
                    <input id="pass" type="text" class="input">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign Up">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a><label for="tab-1"></label>Already Member?</a>
                </div>
            </div>
        </div>
    </div>
</div> -->