<div class="body">



    <div class="wrapper" *ngIf="!showWebcam">
        <header>
            <h1>Create</h1>

        </header>
        <div *ngIf="uploaded" class="alert alert-success">
            <strong>Account created Successfuly</strong>
        </div>
        <div class="ways">
            <ul>
                <li #upload id="upload" (click)="clickUpload()">
                    {{ junkFormDat.fileName? junkFormDat.fileName:'Select Image'}}
                </li>

            </ul>
        </div>
        <section class="active">
            <div class="address-item">
                <div class="actions-area">

                    <div class="dropdown">
                        <a style="width: 100% ;background-color: #7FE3E8;height: 50px;"
                            class="dropdown-toggle btn btn-sm btn-success" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions
                        </a>
                        <div (click)="false" class="dropdown-menu dropdown-menu-right show" aria-labelledby="dropdownMenuButton"
                            style="width:100%;">

                            <div class="icon" >
                                <div class="dropdown-item" style="width:100%">
                                    <span class="box"><input type="checkbox" name="checkbbox"
                                            style="width: 10%;display: inline;"><span class="text"
                                            style="margin-left: 10px;">Delayed</span><label
                                            style="margin-left: 10px; float: right;"><b>$50</b></label></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>









        <footer>
            <ul>


                <button style="margin-left: 35%" (click)="btnUpload()" onclick="errorMessage()">Submit</button>
            </ul>
        </footer>

    </div>

    <div class="camera-on" *ngIf="showWebcam">
        <div style="width:100%; margin: auto;">
            <input type="file" accept="image/*" capture="camera">


        </div>



    </div>
    <div *ngIf="errors.length > 0">
        <h4>Error Messages:</h4>
        <ul *ngFor="let error of errors">
            <li>{{ error | json }}</li>
        </ul>
    </div>

</div>