<div class="body">



    <div class="wrapper" *ngIf="!showWebcam">
        <header>
            <h1>Create</h1>

        </header>
        <div *ngIf="uploaded" class="alert alert-success">
            <strong>Order Created Successfuly</strong>
        </div>
        <div class="ways">
            <ul>
                <li #upload id="upload" (click)="clickUpload()">
                    {{ junkFormDat.fileName? junkFormDat.fileName:'Select Image'}}
                </li>

            </ul>
        </div>

       






        <div class="box">
            <div style="width: 100%; padding-bottom: 5px ">
                <table>
                    <tr>
                        <th></th>
                        <th>
                            Category
                        </th>
                        <th style="text-align: center;">
                            Price
                        </th>
                        <th style="text-align: center;">
                            Quantity
                        </th>
                        <th style="text-align: center;">
                            Subtotal
                        </th>
                       
                    </tr>
                    <tr  *ngFor="let item of categories; index as i">
                        <td > <input type="checkbox"  (change)="categoryToggle(item,$event.target,i)"></td>
                        <td style="width: 45%;">
                            {{item.name}}
                        </td>
                        <td style="width: 10%;">
                            {{item.price}}
                        </td>
                        <td style="width: 30%;">
                            <input type="text" [(ngModel)]="item.numberOfItems"  style="width: 100%;margin: auto;">
                        </td>
                        <td style="width: 15%;text-align: center;">
                            <span> {{item.price * item.numberOfItems}}</span>
                        </td>
                       
                    </tr>

                </table>

            </div>

        </div>

        <footer>
            <ul>


                <button style="margin-left: 35%" (click)="btnUpload()" >Submit</button>
            </ul>
        </footer>

    </div>

    <div class="camera-on" *ngIf="showWebcam">
        <div style="width:100%; margin: auto;">
            <input type="file" accept="image/*" capture="camera">


        </div>



    </div>
    <div *ngIf="errors.length > 0">
        <h4>Error Messages:</h4>
        <ul *ngFor="let error of errors">
            <li>{{ error | json }}</li>
        </ul>
    </div>


</div>