<div class="container">
    <div class="row">
        <div [formGroup]="usersData" class="col-sm-4">


            <label>New Password</label>
            <div class="form-group pass_show">
                <input formControlName="password" type="password" value="faisal.khan@123" class="form-control"
                    placeholder="New Password">
            </div>
            <label>Confirm Password</label>
            <div class="form-group pass_show">
                <input type="password" formControlName="confirmPassword" value="faisal.khan@123" class="form-control"
                    placeholder="Confirm Password">
            </div>
            <button (click)="resetPassword()">Reset Password</button>
        </div>
    </div>
</div>